@import "../create-assignment/create-assignment.component.scss";

#commentField {
    width: 100%;
    height: 150px;
}

#submitButtons {
    display: flex;
    justify-content: center;
}

#description {
    border: 0px;
}