<!-- TODO: This is a dummy login page. Will need to create one and utilize own login system, or use
     UVa's login (At the time of this writing, they were using Shibboleth) -->

<div class="container">
    <div role="button" class="login-button" (click)="login(2)" routerLink="/home">Login as Student</div>
    <div role="button" class="login-button" (click)="login(1)" routerLink="/home">Login as Teaching Assistant</div>
    <div role="button" class="login-button" (click)="login(0)" routerLink="/home">Login as Professor</div>
</div>