.container 
{
    align-items: center;
    padding: 1em;
}

.login-button
{
    align-items: center;
    box-shadow: 0 1px 3px 0 #7d7d7d;
    cursor: pointer;
    display: flex;
    margin: 0 auto 1.25em;
    max-width: 24em;
    padding: 1.25em 1em;
    text-align: center;
}