@import "../styles/button.scss";

.CreateAssign {
    margin: 32px;

    &-title{
        display: flex;
        justify-content: center;
    }

    &-formGroup {
        display: flex;
        justify-content: space-between;
    }

    &-input {
        width: 60%;
    }

    &-pointGroup {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    &-pointInput {
        width: 10%;
    }

    &-list {
        margin-bottom: 16px;
    }

    &-fileUpload {
        border: none;
    }
}