.Home {
    margin: 32px;

    &-title,
    &-grade {
        text-align: center;
    }

    &-subtitle {
        font-size: 36px;
        text-decoration: underline;
    }

    &-assignments {
        margin: 16px;
    }

    &-courses {
        margin: 0 16px;

        &-title {
            margin: 0;
            display: flex;
            justify-content: space-between;
            background-color: rgb(180, 180, 180);
            padding: 8px 16px;
        }

        &-name {
            font-weight: bold;
            padding: 0.375rem 0.75rem;
        }
    }
}