.Home {
    margin: 32px;

    &-title,
    &-grade {
        text-align: center;
    }

    &-subtitle {
        font-size: 36px;
        text-decoration: underline;
    }

    &-assignments {
        margin: 16px;
    }

    &-courses {
        margin: 0 16px;

        &-title {
            display: block;
            background-color: rgb(180, 180, 180);
            padding: 8px 16px;
        }
    }
}