<div class="Home">
    <!-- Student Experience -->
    <div *ngIf="this.globals.user.role == 'student'">
        <h1 class="Home-title">Welcome {{ name }} to [Course]</h1>
        <h3 class="Home-grade">Your Current Homework Grade is: [Grade]</h3>
        <div class="Home-openAssignments">
            <p class="Home-subtitle">Open Assignments</p>
            <assignment-teaser *ngFor="let assignment of currentAssignments(courses[1].assignments).slice().reverse()"
                [assignment]="assignment">
            </assignment-teaser>
        </div>
        <div class="Home-pastAssignments">
            <p class="Home-subtitle">Past Assignments</p>
            <assignment-teaser *ngFor="let assignment of pastAssignments(courses[1].assignments).slice().reverse()"
                [assignment]="assignment">
            </assignment-teaser>
        </div>
    </div>
    
    <!-- TA Experience -->
    <div *ngIf="this.globals.user.role == 'teaching assistant'">
        <h1 class="Home-title">Welcome {{ name }}</h1>
        <div class="Home-courses" *ngFor="let course of courses">
            <a class="Home-courses-title">{{ course.courseTitle }} {{ course.semester }}</a>
            <assignment-teaser *ngFor="let assignment of pastAssignments(course.assignments).slice().reverse()"
                [assignment]="assignment">
            </assignment-teaser>
        </div>
    </div>

    <!-- Professor Experience -->
    <div *ngIf="this.globals.user.role == 'professor'">
        <h1 class="Home-title">Welcome {{ name }}</h1>
        <div class="Home-courses" *ngFor="let course of courses.slice().reverse()">
            <div class="Home-courses-title">
                <a class="Home-courses-name">{{ course.courseTitle }} {{ course.semester }}</a>
                <div>
                    <a class="btn btn-primary" href="/createAssignment">Create New Assignment</a>
                    &nbsp;
                    <a class="btn btn-primary" href="/instructors">Instructor List</a>
                </div>
            </div>
            <assignment-teaser *ngFor="let assignment of pastAssignments(course.assignments).slice().reverse()"
                [assignment]="assignment">
            </assignment-teaser>
        </div>
    </div>
</div>