<div class="Home">
    <!-- Student Experience -->
    <div *ngIf="this.globals.user == 'student'">
        <h1 class="Home-title">Welcome {{ name }} to [Course]</h1>
        <h3 class="Home-grade">Your Current Homework Grade is: [Grade]</h3>
        <div class="Home-openAssignments">
            <p class="Home-subtitle">Open Assignments</p>
            <assignment-teaser *ngFor="let assignment of pastAssignments(courses[1].assignments)"
                [assignment]="assignment">
            </assignment-teaser>
        </div>
        <div class="Home-pastAssignments">
            <p class="Home-subtitle">Past Assignments</p>
            <assignment-teaser *ngFor="let assignment of pastAssignments(courses[1].assignments)"
                [assignment]="assignment">
            </assignment-teaser>
        </div>
    </div>
    
    <!-- Instructor Experience -->
    <div *ngIf="this.globals.user == 'instructor'">
        <h1 class="Home-title">Welcome {{ name }}</h1>
        <div class="Home-courses" *ngFor="let course of courses">
            <a class="Home-courses-title">{{ course.courseTitle }} {{ course.semester }}</a>
            <assignment-teaser *ngFor="let assignment of pastAssignments(course.assignments)"
                [assignment]="assignment">
            </assignment-teaser>
        </div>
        <!-- Debating between this split or just sorting by recently added, cause this will require some tracking of semesters -->
        <!-- <div class="Home-currentCourse">
            <p class="Home-subtitle">Current Courses</p>
            <course-teaser></course-teaser>
        </div>
        <div class="Home-pastCourses">
            <p class="Home-subtitle">Previous Courses</p>
            <course-teaser></course-teaser>
        </div> -->
    </div>

    <!-- Professor Experience -->
    <div *ngIf="this.globals.user == 'professor'">
        <h1 class="Home-title">Welcome {{ name }}</h1>
        <div class="Home-courses" *ngFor="let course of courses">
            <a class="Home-courses-title">{{ course.courseTitle }} {{ course.semester }}</a>
            <assignment-teaser *ngFor="let assignment of pastAssignments(course.assignments)"
                [assignment]="assignment">
            </assignment-teaser>
        </div>
        <!-- Debating between this split or just sorting by recently added, cause this will require some tracking of semesters -->
        <!-- <div class="Home-currentCourse">
            <p class="Home-subtitle">Current Courses</p>
            <course-teaser></course-teaser>
        </div>
        <div class="Home-pastCourses">
            <p class="Home-subtitle">Previous Courses</p>
            <course-teaser></course-teaser>
            <course-teaser></course-teaser>
        </div> -->
    </div>
</div>